body
{
background-color: aqua;
}

h1
{
    color: indigo;
    background-color: lightseagreen;
}

#show_sketch
{
    float: right;
}

canvas
{
    border:4px solid lavender;
    border-radius: 20px;
    animation-name: Krishivmo;
    animation-duration: 4s;
    margin-top: 50px;
    
}

@keyframes Krishivmo 
{
from{box-shadow: 1px 1px 38px grey;}
to{box-shadow: 1px 1px 38px white;}    
}

p 
{
    padding-top: 10px;
    font-size: 25px;
}